<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <!-- idegaWeb event listener that starts the application -->
    <listener>
        <listener-class>com.idega.idegaweb.IWApplicationStarter</listener-class>
    </listener>


  <servlet>
    <servlet-name>Excel</servlet-name>
    <display-name>Excel</display-name>
    <servlet-class>com.idega.io.ExcelOutput</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ObjectInstanciator</servlet-name>
    <display-name>ObjectInstanciator</display-name>
    <servlet-class>com.idega.servlet.ObjectInstanciator</servlet-class>
    <load-on-startup>4</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>PageInstanciator</servlet-name>
    <display-name>PageInstanciator</display-name>
    <servlet-class>com.idega.servlet.PageInstanciator</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>WindowOpener</servlet-name>
    <display-name>WindowOpener</display-name>
    <servlet-class>com.idega.servlet.WindowOpener</servlet-class>
    <load-on-startup>6</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>IWEventHandler</servlet-name>
    <display-name>IWEventHandler</display-name>
    <servlet-class>com.idega.servlet.IWEventHandler</servlet-class>
  </servlet> 
  <servlet-mapping>
    <servlet-name>IWEventHandler</servlet-name>
    <url-pattern>/servlet/IWEventHandler</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Excel</servlet-name>
    <url-pattern>/excel</url-pattern>
  </servlet-mapping>

  
  <servlet-mapping>
    <servlet-name>ObjectInstanciator</servlet-name>
    <url-pattern>/servlet/ObjectInstanciator</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ObjectInstanciator</servlet-name>
    <url-pattern>/servlet/ObjectInstanciator/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ObjectInstanciator</servlet-name>
    <url-pattern>/servlet/ObjectInstanciator/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>PageInstanciator</servlet-name>
    <url-pattern>/servlet/PageInstanciator</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>WindowOpener</servlet-name>
    <url-pattern>/servlet/WindowOpener</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WindowOpener</servlet-name>
    <url-pattern>/servlet/WindowOpener/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WindowOpener</servlet-name>
    <url-pattern>/servlet/WindowOpener/*</url-pattern>
  </servlet-mapping>

    <!-- The IWEncodingFilter Filter , MUST be the first filter -->
    <filter>
        <filter-name>IWEncodingFilter</filter-name>
        <filter-class>com.idega.servlet.filter.IWEncodingFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>IWEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <!-- IWBlockFilter Filter blocks certain sensitive URLs -->
    <filter>
        <filter-name>IWBlockFilter</filter-name>
        <filter-class>com.idega.servlet.filter.IWBlockFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>IWBlockFilter</filter-name>
        <url-pattern>*.properties</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>IWBlockFilter</filter-name>
        <url-pattern>*.pxml</url-pattern>
    </filter-mapping>

    <!-- The IWUrlRedirector Filter -->
    <filter>
        <filter-name>IWUrlRedirector</filter-name>
        <filter-class>com.idega.servlet.filter.IWUrlRedirector</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>IWUrlRedirector</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- The IWAuthenticator Filter -->
    <filter>
        <filter-name>IWAuthenticator</filter-name>
        <filter-class>com.idega.servlet.filter.IWAuthenticator</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>IWAuthenticator</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- The IWBundleResourceFilter Filter -->
    <filter>
        <filter-name>IWBundleResourceFilter</filter-name>
        <filter-class>com.idega.servlet.filter.IWBundleResourceFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>IWBundleResourceFilter</filter-name>
        <url-pattern>/idegaweb/*</url-pattern>
    </filter-mapping>

    <!-- The IWWelcomeFilter Filter -->
    <filter>
        <filter-name>IWWelcomeFilter</filter-name>
        <filter-class>com.idega.servlet.filter.IWWelcomeFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>IWWelcomeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- The IWAuthorizationFilter Filter -->
    <filter>
        <filter-name>IWAuthorizationFilter</filter-name>
        <filter-class>com.idega.servlet.filter.IWAuthorizationFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>IWAuthorizationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
     <!-- MyFaces Extensions Filter -->
    <filter>
        <filter-name>extensionsFilter</filter-name>
        <filter-class>org.apache.myfaces.component.html.util.ExtensionsFilter</filter-class>
        <init-param>
            <param-name>uploadMaxFileSize</param-name>
            <param-value>100m</param-value>
            <description>Set the size limit for uploaded files.
                Format: 10 - 10 bytes
                        10k - 10 KB
                        10m - 10 MB
                        1g - 1 GB
            </description>
        </init-param>
        <init-param>
            <param-name>uploadThresholdSize</param-name>
            <param-value>100k</param-value>
            <description>Set the threshold size - files
                    below this limit are stored in memory, files above
                    this limit are stored on disk.

                Format: 10 - 10 bytes
                        10k - 10 KB
                        10m - 10 MB
                        1g - 1 GB
            </description>
        </init-param>
<!--        <init-param>
            <param-name>uploadRepositoryPath</param-name>
            <param-value>/temp</param-value>
            <description>Set the path where the intermediary files will be stored.
            </description>
        </init-param>-->
    </filter>
    
    <filter-mapping>
        <filter-name>extensionsFilter</filter-name>
        <url-pattern>/pages/*</url-pattern>
    </filter-mapping>
	<filter-mapping>
		<filter-name>extensionsFilter</filter-name>
		<url-pattern>/workspace/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>extensionsFilter</filter-name>
		<url-pattern>/window/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>extensionsFilter</filter-name>
		<url-pattern>/setup/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>extensionsFilter</filter-name>
		<url-pattern>/faces/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>extensionsFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	
    <!-- MyFaces MultiPart Filter MUST BE AFTER THE IWEncodingFilter -->
    
    <!-- The IWActionHandlerFilter that redirects "action" urls like "/idegaweb/action/edit/files/cms/article/1.xml"-->
    <filter>
        <filter-name>iwActionURI</filter-name>
        <filter-class>com.idega.servlet.filter.IWActionURIHandlerFilter</filter-class>  
    </filter>
    
    <filter-mapping>
        <filter-name>iwActionURI</filter-name>
        <url-pattern>/idegaweb/action/*</url-pattern>
    </filter-mapping>
    
    
    
    <!-- DISABLED The GZIPFilter that compressed output to the client
    <filter>
        <filter-name>compress</filter-name>
        <filter-class>com.idega.servlet.filter.GZIPFilter</filter-class>  
    </filter>
    
    <filter-mapping>
        <filter-name>compress</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>compress</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>
    
        <filter-mapping>
        <filter-name>compress</filter-name>
        <url-pattern>*.htm</url-pattern>
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>compress</filter-name>
        <url-pattern>/pages/*</url-pattern>
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>compress</filter-name>
        <url-pattern>/servlet/*</url-pattern>
    </filter-mapping>
    
    <filter-mapping>
    <filter-name>compress</filter-name>
    <url-pattern>/workspace/*</url-pattern>
    </filter-mapping>
    
    -->
   <!-- End of GZIPFilter -->
    
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
