body.isAdmin {
	padding-top: 51px;
}

div#adminTopLayer {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	border-bottom: 1px #999 solid;
	z-index: 99999;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	background: url(/idegaweb/bundles/com.idega.core.bundle/resources/style/images/admin-tiler.png);
}

div#adminTopLayer .login {
	max-width: none;
	position: absolute;
	top: 10px;
	left: 15px;
}

div#adminTopLayer div.login p {
	float: left;
	padding: 0;
	line-height: 30px;
	color: #fff;
	margin-right: 15px;
	font-size: 14px;
	font-weight: bold;
}

div#adminTopLayer div.login div.submit {
	float: left;
	margin-top: 4px;
}

div#adminTopLayer div.login div.submit input {
	border: 2px #333 solid;
	background-color: #efefef;
	font-size: 12px;
	padding: 2px 4px;
	margin: 0;
	float: left;
	-moz-border-radius: 6px;
	color: #333;
}

div#adminTopLayer div.login div.submit input:hover {
	border-color: #666;
	cursor: pointer;
	color: #666;
}

div#adminTopLayer ul {
	position: absolute;
	top: 0;
	right: 0;
	color: #fff;
	line-height: 1em;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 10px;
}

div#adminTopLayer ul li {
	margin: 0;
	float: left;
	width: 60px;
	padding-top: 37px;
	text-align: center;
	height: 13px;
}

div#adminTopLayer ul li.adminEditMode {
	background: url(/idegaweb/bundles/com.idega.core.bundle/resources/style/images/apps_32.png) center 2px no-repeat;
}

div#adminTopLayer ul li.adminContentMode {
	background: url(/idegaweb/bundles/com.idega.core.bundle/resources/style/images/edit_32.png) center 2px no-repeat;
}

div#adminTopLayer ul li.adminPreviewMode {
	background: url(/idegaweb/bundles/com.idega.core.bundle/resources/style/images/lgicn_32.png) center 2px no-repeat;
}

div#adminTopLayer ul li.selected {
	background-color: #ccc;
	color: #333;
}