.expandcontainer {
	position: relative;
	border: 1px solid #BBBBBB;
	padding: 10px;
	width: auto;
	height: auto;
	margin: 10px;
}

.expandcontainer .info {
	position: absolute;
	left: 15px;
	top: -5px;
	font-weight: bold;
	padding: 10px;
	margin: 10px;
}

.errormessage .info {
	background-color: inherit;
	color: red;
}

.expandcontainer .expander {
	position: relative;
	width: 11px;
	height: 11px;
	margin: 5px;
}

.expandcontainer .expander .minimized {
	background-image: url('../shared/plusicon.gif');
}

.expandcontainer .expander .expanded {
	background-image: url('../shared/minusicon.gif');
}

.expandcontainer .contents {
	
}

.expandcontainer .contents .minimized {
	padding: 10px;
	margin: 10px;
	height: 5px;
}

.expandcontainer .contents .minimized pre {
	display: none;
}

.expandcontainer .contents .expanded {
	border: 1px solid #BBBBBB;
	padding: 10px;
	margin: 10px;
}

.expandcontainer .errormessage .contents .expanded pre {
	height: 150px;
	overflow: scroll;
	padding: 2px;
	margin: 2px;
}

.expandcontainer .contents .expanded {
	width: auto;
	height: auto;
}