/*** idegaWeb Core CSS classes ***/

/** BEGIN: General CSS definitions: **/
	
body {
	margin: 0;
	padding: 0;	
}

form {
	margin-top: 0px;
	margin-bottom: 0px;
}

img {
	border: 0;
}

iframe {
	border: 0;
}
/* for Safari */
div h1, div h2, div h3, div h4, div h5, div h6,
h1, h2, h3, h4, h5, h6{
	background: transparent;
	background-color: transparent;
}

/** END: General CSS definitions: **/

/** BEGIN: Style for com.idega.presentation.CSSSpacer element used in the beginning and end of containers that use float-ing elements**/

.spacer {
	clear: both;
}

/** END: Style for com.idega.presentation.CSSSpacer **/

/** BEGIN: loadLayer: **/

DIV.LoadLayerOld {
	visibility: hidden;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	background-color: #FFFFFF;
	color: inherit;
	border-style: ridge;
	border-color: #cbcbcb;
	border-width: 2px;
	padding-top: 4px;
	padding-left: 8px;
	padding-right: 12px;
	padding-bottom: 4px;
	top: 48%;
	left: 45%;
}

.LoadLayer {
	height: expression((document.body.clientHeight) ? document.body.clientHeight  + 'px' : document.documentElement.clientHeight  + 'px');
	width: expression((document.body.clientWidth) ? document.body.clientWidth  + 'px' : document.documentElement.clientWidth  + 'px');

	left: 0;
	top: 0;

	visibility: hidden;
	position: absolute;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/idegaweb/bundles/com.idega.core.bundle/resources/style/images/transparent.png',sizingMethod='scale');
	z-index: 9999 !important;
}
.LocalLoadLayer {
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
	visibility: hidden;
	position: relative;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/idegaweb/bundles/com.idega.core.bundle/resources/style/images/transparent.png',sizingMethod='scale');
	z-index: 9999 !important;
}
.LocalLoadLayer .LoadingImage {
	position: relative;
	top: 21px;
	left: 52%;
}
html>body .LoadLayer {
	height: 100%;
	width: 100%;
	position: fixed;
	filter: none;
	background: url(/idegaweb/bundles/com.idega.core.bundle/resources/style/images/transparent.png);
}
html>body .LocalLoadLayer {
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	position: relative;
	filter: none;
	background: url(/idegaweb/bundles/com.idega.core.bundle/resources/style/images/transparent.png);
	z-index: 9999 !important;
}
html>body .LocalLoadLayer .LoadingImage {
	position: relative;
	top: 21px;
	left: 0px;
}
.LoadLayer .LoadLayerMiddle, .LocalLoadLayer .LoadLayerMiddle {
	position: absolute;
	width: 100%;
	top: 50%;
	text-align: center;
	height: 74px;
}
.LocalLoadLayer .LoadLayerMiddle .LoadLayerContents {
	width: 74px;
	height: 74px;
	margin: 0 auto;
	position: relative;
	top: -50%;
	padding: 0px 0px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/idegaweb/bundles/com.idega.core.bundle/resources/style/images/whiteTransparentSmall.png',sizingMethod='scale');
}
.LoadLayer .LoadLayerMiddle .LoadLayerContents{
	width: 231px;
	height: 54px;
	margin: 0 auto;
	position: relative;
	top: -50%;
	padding: 10px 20px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/idegaweb/bundles/com.idega.core.bundle/resources/style/images/whitetransparent.png',sizingMethod='scale');
}
html>body .LocalLoadLayer .LoadLayerMiddle .LoadLayerContents {
	width: 74px;
	filter: none;
	background: url(/idegaweb/bundles/com.idega.core.bundle/resources/style/images/whiteTransparentSmall.png);
}
html>body .LoadLayer .LoadLayerMiddle .LoadLayerContents {
	width: 191px;
	filter: none;
	background: url(/idegaweb/bundles/com.idega.core.bundle/resources/style/images/whitetransparent.png);
}

.LoadLayer .LoadLayerMiddle .LoadLayerContents #loadingimage {
	display: none;
}

.LoadLayer .LoadLayerMiddle .LoadLayerContents #loadingtext {
	line-height: 54px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	color: inherit;
	padding-left: 22px;
	background: url(/idegaweb/bundles/com.idega.core.bundle/resources/loading_notext.gif) left no-repeat;
}

/** END: loadlayer **/

/** BEGIN: IWApplicationComponent classes **/

.iw_applicationcomponent {
	font-family: Verdana, Sans-serif;
	font-size: 10px;
	background-color: #E1E1E1;
	color: inherit;
	margin: 0px;
	border-color: black;
	border-width: 2px;
	width: 100%;
	height: 100%;
}

/** END: IWApplicationComponent classes **/

/** BEGIN: Searcher and SearchResults classes (com.idega.core.search) **/

.iw_search_results {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.iw_search_name {
	margin-top: 2px;
	padding: 3px;
	font-size: 11px;
	font-weight: bold;
	background-color: #DFDFDF;
	color: inherit;
	display: block;
	clear: both;
}

.iw_search_results_row_odd {
	border-bottom: 1px #000 dotted;
	border-color: black;
	padding-top: 2px;
	padding-bottom: 2px;
	margin: 0px;
	width: 100%;
}

.iw_search_results_row_even {
	border-bottom: 1px #000 dotted;
	padding-top: 2px;
	padding-bottom: 2px;
	margin: 0px;
	width: 100%;
}

.iw_search_result_icon {
	width: 10px;
	height: 10px;
	display: inline;
	margin-right: 2px;
	margin-top: 2px;
	float: left;
	background-image: url(images/search_bullet.gif);
	background-repeat: no-repeat;
}

.iw_search_result_link {
	font-size: 11px;
	font-weight: bold;
	text-decoration: underline;
	text-align: left;
	display: inline;
	float: left;
	color: red;
	background-color: inherit;
	width: 45%;
}

.iw_search_result_link:hover {
	font-size: 11px;
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
	text-align: left;
	display: inline;
	float: left;
	color: red;
	background-color: inherit;
	width: 45%;
}

.iw_search_result_abstract {
	text-align: left;
	display: block;
	padding-left: 12px;
	clear: both;
}

.iw_search_result_extra_info {
	text-align: right;
	float: right;
	width: 45%;
}

.iw_search_result_extra_attribute_odd {
	text-align: left;
	font-weight: bold;
	float: left;
	clear: left;
	width: 45%;
}

.iw_search_result_extra_attribute_even {
	text-align: right;
	font-weight: bold;
	float: right;
	clear: right;
	width: 45%;
}

.iw_searcher {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	margin: 5px;
}

.iw_searcher_input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	width: 100px;
	border: 1px solid #000000;
}

.iw_searcher_button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
}

.expandcontainer {
	position: relative;
	border: 1px solid #BBBBBB;
	padding: 10px;
	width: auto;
	height: auto;
	margin: 10px;
}

.expandcontainer .info {
	position: absolute;
	left: 15px;
	top: -5px;
	font-weight: bold;
	padding: 10px;
	margin: 10px;
}

.errormessage .info {
	background-color: inherit;
	color: red;
}

.expandcontainer .expander {
	position: relative;
	width: 11px;
	height: 11px;
	margin: 5px;
}

.expandcontainer .expander .minimized {
	background-image: url('../shared/plusicon.gif');
}

.expandcontainer .expander .expanded {
	background-image: url('../shared/minusicon.gif');
}

.expandcontainer .contents {
	
}

.expandcontainer .contents .minimized {
	padding: 10px;
	margin: 10px;
	height: 5px;
}

.expandcontainer .contents .minimized pre {
	display: none;
}

.expandcontainer .contents .expanded {
	border: 1px solid #BBBBBB;
	padding: 10px;
	margin: 10px;
}

.expandcontainer .errormessage .contents .expanded pre {
	height: 150px;
	overflow: scroll;
	padding: 2px;
	margin: 2px;
}

.expandcontainer .contents .expanded {
	width: auto;
	height: auto;
}
/** END: Searcher and SearchResults classes **/

/** START: Groups and Groups members info classes **/
.groupsInfoList ul {
	list-style: none;
	list-style-position: inside;
}

.groupsMembersInfoList ul {
	list-style: none;
	list-style-position: inside;
}

.groupsChooserConnectionDataTableStyle {
	width: 100%; 
}

.groupConnectionChooserInputStyle {
	width: 100%;
}
/** END: Groups and Groups members info classes **/

/** Tooltips starts **/
.tool-tip {
	color: #fff;
	max-width: 220px;
	z-index: 13000;
	background-color: #000;
	-moz-border-radius: 5px;
}

.tool-title {
	font-weight: bold;
	font-size: 11px;
	margin: 0;
	color: #9FD4FF;
	padding: 8px 8px 4px;
}

.tool-text {
	font-size: 11px;
	padding: 4px 8px 8px;
}

.custom-tip {
	color: #000;
	width: 130px;
	z-index: 13000;
}

.custom-title {
	font-weight: bold;
	font-size: 11px;
	margin: 0;
	color: #3E4F14;
	padding: 8px 8px 4px;
	background: #C3DF7D;
	border-bottom: 1px solid #B5CF74;
}

.custom-text {
	font-size: 11px;
	padding: 4px 8px 8px;
	background: #CFDFA7;
}
/** Tooltips ends **/

/** Hiding theme's expander **/
div#idegaThemeExpandRegion {
	display: none;
}

li.hiddenPageInNavigationMenu {
	display: none !important;
}

iframe.contentItemEditorFrameStyle {
	width: 650px;
	height: 506px;
}