/*** idegaWeb Core CSS classes ***/

/** BEGIN: General CSS definitions: **/

a {
        /**color:#000000;**/
        /**font-size:12px;**/
        /**text-decoration:underline;**/
}

a:hover {
        /**color:#000000;**/
        /**font-size:12px;**/
        /**text-decoration:underline;**/
}

body {
        /**font-family:Arial,Helvetica,sans-serif;**/
        /**font-size:12px;**/
}

table {
        /**font-family:Arial,Helvetica,sans-serif;**/
        /**font-size:12px;**/
}

form {
        margin-top:0px;
        margin-bottom:0px;
}

img {
        border:0px solid #000000;
}

iframe{
	border: 1px solid #7c7c7c;
}

/** END: General CSS definitions: **/


/** BEGIN: Style for com.idega.presentation.CSSSpacer element used in the beginning and end of containers that use float-ing elements**/

.spacer {
     clear: both;
}

/** END: Style for com.idega.presentation.CSSSpacer **/

/** BEGIN: loadLayer: **/


DIV.LoadLayerOld {
        visibility:hidden;
        position:absolute;
        font-family: arial;
        font-size: 9pt;
        font-weight: bold;
        background: #ffffff;
        border-style: ridge;
        border-color: #cbcbcb;
        border-width: 2px;
        padding-top: 4px;
        padding-left: 8px;
        padding-right: 12px;
        padding-bottom:4px;
        top:48%;
        left:45%;
}

DIV.LoadLayer {
        /*visibility:hidden;*/
        visibility:hidden;
        position:absolute;
        font-family: Verdana;
        font-size: 9pt;
        font-weight: bold;
        border-width: 0px;
        top:0%;
        left:0%;
        
        width:100%;
        height:100%;
        
		background-image: url(images/loadingmask.png);
		background-position: center center;
		background-repeat: no-repeat;
		
		/***IE TRANSPARENCY HACKS***/
		_background-image: none;
		_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../idegaweb/bundles/com.idega.core.bundle/resources/style/images/loadingmask.png',sizingMethod='scale');
		
		z-index: 1000;
}

DIV.LoadLayer .LoadLayerContents{

        position:absolute;
        font-family: Verdana;
        font-size: 9pt;
        font-weight: bold;
        background: #ffffff;
        border-width: 0px;

		position:absolute;
		padding-top: 4px;
		padding-left: 8px;
		padding-right: 12px;
		padding-bottom:4px;
		top:48%;
		left:45%;
}

/** END: loadlayer **/

/** BEGIN: IWApplicationComponent classes **/

.iw_applicationcomponent{
	font-family:Verdana,Sans-serif;
	font-size: 10px;
	background-color: #E1E1E1;
	margin: 0px;

	border-color: black;
	border-width:2px;
	width:100%;
	height:100%;
}

/** END: IWApplicationComponent classes **/


/** BEGIN: Searcher and SearchResults classes (com.idega.core.search) **/

.iw_search_results{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.iw_search_name{
	#margin-left:5px;
	margin-top:2px;
	padding:3px;
	font-size: 11px;
	font-weight: bold;
	background-color: #DFDFDF;
 	display:block;
    clear: both;
}

.iw_search_results_row_odd{
	#background-color: #DEDEDE;
 	border-bottom: 1px dotted;
 	border-color: black;
    padding-top:2px;
    padding-bottom:2px;
	margin: 0px;
	width: 100%;
}

.iw_search_results_row_even{
	#background-color: #EDEDED;
	border-bottom: 1px dotted;
    padding-top:2px;
    padding-bottom:2px;
	margin: 0px;
	width: 100%;
}

.iw_search_result_icon{
	width: 10px;
	height:10px;
	display: inline;
	margin-right:2px;
	margin-top:2px;
	float: left;
	background-image: url(images/search_bullet.gif);
	background-repeat: no-repeat;
}

.iw_search_result_link{
	font-size: 11px;
	font-weight: bold;
	text-decoration: underline;
    text-align: left;
 	display: inline;
	float:left;
 	color: red;
	width:45%;

}

.iw_search_result_link:hover{
	font-size: 11px;
	font-weight: bold;
 	font-style: italic;
	text-decoration: underline;
    text-align: left;
 	display:inline;
    float:left;
 	color: red;
	width:45%;
}

.iw_search_result_abstract{
	text-align: left;
	display:block;
	padding-left: 12px;
	clear: both;
}

.iw_search_result_extra_info{
	text-align: right;
	float:right;
	width:45%;
}

.iw_search_result_extra_attribute_odd{
	text-align: left;
	font-weight: bold;
	float: left;
	clear: left;
	width: 45%;
}

.iw_search_result_extra_attribute_even{
	text-align: right;
	font-weight: bold;	
	float:right;
	clear:right;
	width:45%;
}

.iw_searcher{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	margin:5px;
}

.iw_searcher_input{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	width:100px;
	border: 1 solid #000000;
}

.iw_searcher_button{	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight:bold;
	#background-image: url(images/search.gif);
}

/** END: Searcher and SearchResults classes **/