/** BEGIN: Searcher and SearchResults classes (com.idega.core.search) **/

.iw_search_results, .whatisnew {
	margin-bottom: 16px;
}

.iw_search_name {
	margin-top: 2px;
	padding: 4px 5px;
	font-weight: bold;
	background-color: #DFDFDF;
	display: block;
	clear: both;
}

.iw_search_results_row_odd, .iw_search_results_row_even {
	border-bottom: 1px #ccc solid;
	padding: 4px 5px;
}

.iw_search_result_icon {
	display: none;
}

.iw_search_result_link {
	font-weight: bold;
	text-align: left;
	display: inline;
	float: left;
}

.iw_search_result_link:hover {
	text-decoration: underline;
}

.iw_search_result_abstract {
	float: right;
}

.iw_search_result_extra_info {
	display: none;
}

.iw_search_result_extra_attribute_odd {
}

.iw_search_result_extra_attribute_even {
}

.iw_searcher {
}

.iw_searcher_input {
}

.iw_searcher_button {
}