body{
	/*background-color: #ffffff;*/
	background-color: #F2F2F2;
	font-size: 60%;
	margin-top: 1px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 1px;
}
body, p, h1, h2, h3, table, td, th, textarea, input{
	font-family: verdana,helvetica,arial,sans-serif;
	font-size: 10px;
	color:#303030;
}
font.headingFont{
	font-size: 12px;
	color: #5d5d5d;
	font-weight: bold;
	text-transform: uppercase;
}
font.messageFont{
	font-size: 10px;
	color: #5d5d5d;
	font-weight: bold;
}

a.styledLink{
	font-size: 9px;
	color: #5d5d5d;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}
a:hover.styledLink{
	font-size: 9px;
	color: 5d5d5d
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}
a.styledLinkGeneral{
	font-size:9px;
	font-weight:bold;
	text-decoration:none;
}
a:hover.styledLinkGeneral{
	font-size:9px;
	font-weight:bold;
	text-decoration:none;
}
a.styledLinkUnderline{
	color:#757575;
	font-size:9px;
	font-weight:bold;
	text-decoration:underline;
}
a:hover.styledLinkUnderline{
	color:#757575;
	font-size:9px;
	font-weight:bold;
	text-decoration:none;
}

h1{
	font-size: 14pt;
	color: #000000;
	font-weight: normal;
}
.menu{
	border-bottom: 1px solid #cccccc;
	background: #ffffff url(menu_tile.gif) repeat;
}
.top_left{
	/*background: #0e2456;
	background-image: url(idegaweb.gif);
	*/
	background: url(images/eplatform.gif) no-repeat;
	background-repeat: no-repeat;
	height: 31px;
	width: 90px;
}
.top{
	/*background: #0e2456;
	*/
	background: #38485C url(images/bg_head.gif) repeat-x;
	height: 31px;
}
.back{
	/*background-color: #f5f5f5;*/
	border: 1px solid #cccccc;
}
.main{
	border: 1px solid #cccccc;
	/*background-color: #ffffff;*/
	font-size: 10px;
	font-weight: bold;
}
.borderAll{
	border: 1px solid #cccccc;
}
.borderTopRightBottom{
	border-top: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}
.borderRight{
	border-right: 1px solid #cccccc;
}
.topTable{
	border-top: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	background: #ffffff url(topTable_tile.gif) repeat;
}
.middleTable{
	border-top: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	background: #f1f1f1 url(middleTable_tile.gif) repeat;
}
.grayBorderBottom{
	background-color: #f5f5f5;
	border-bottom: 1px solid #cccccc;
}
.box{
	border: 1px solid #bbbbbb;
	width: 100px;
	height: 12px;
	font-size: 8px;
	background: #ffffff url(button_tile.gif) repeat;
}
.overviewButton{
	border-top: 1px solid #bbbbbb;
	border-left: 1px solid #bbbbbb;
	width: 100px;
	height: 12px;
	font-size: 8px;
	background: #ffffff url(button_tile.gif) repeat;
}
.errorMessage{
	font-family: verdana,helvetica,arial,sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #ff0000;
}

a.errorMessage{
	font-size: 9px;
	color: #ff0000;
	text-decoration:underline;
}

a:hover.errorMessage{
	font-size: 9px;
	color: #ff0000;
	text-decoration:none;
}

table.selectedBox{
	border: 1px solid #bbbbbb;
	width: 100px;
	height: 12px;
	background: #ffffff url(dark_button_tile.gif) repeat;
}
td.white{
	background-color: #ffffff;
	font-size: 10px;
}
td.lightgray{
	border-bottom: 1px solid #cccccc;
	background-color: #eeeeee;
	font-size: 10px;
}
input.text{
	border: 1px solid #bbbbbb;
}
input.checkbox{
	border: 1px solid #cccccc;
	background-color: #ffffff;
}
textarea{
	border: 1px solid #bbbbbb;
}

select {
	border: 1px solid #bbbbbb;
    font-size: 10px; 
} 









